In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('training_set_VU_DM.csv')

In [3]:
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [4]:
df.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4706481
visitor_hist_adr_usd           4705359
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4640941
orig_destination_distance      1607782
random_bool                          0
comp1_rate                     4838417
comp1_inv                      4828788
comp1_rate_percent_diff        4863908
comp2_rate                     2933675
comp2_inv                      2828078
comp2_rate_percent_diff        4402109
comp3_rate                     3424059
comp3_inv                      3307357
comp3_rate_percent_diff        4485550
comp4_rate                     4650969
comp4_inv                      4614684
comp4_rate_percent_diff        4827261
comp5_rate                     2735974
comp5_inv                      2598327
comp5_rate_percent_diff        4117248
comp6_rate                     4718190
comp6_inv                      4697371
comp6_rate_percent_diff        4862173
comp7_rate                     4642999
comp7_inv                      4601925
comp7_rate_percent_diff        4819832
comp8_rate                     3041693
comp8_inv                      2970844
comp8_rate_percent_diff        4343617
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
srch_id                        int64
date_time                      object
site_id                        int64
visitor_location_country_id    int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                int64
prop_id                        int64
prop_starrating                int64
prop_review_score              float64
prop_brand_bool                int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                       int64
price_usd                      float64
promotion_flag                 int64
srch_destination_id            int64
srch_length_of_stay            int64
srch_booking_window            int64
srch_adults_count              int64
srch_children_count            int64
srch_room_count                int64
srch_saturday_night_bool       int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                    int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                     int64
gross_bookings_usd             float64
booking_bool                   int64
dtypes: float64(34), int64(19), object(1)
memory usage: 2.0+ GB

In [6]:
df = df.astype({"date_time": 'datetime64[ns]'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
srch_id                        int64
date_time                      datetime64[ns]
site_id                        int64
visitor_location_country_id    int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                int64
prop_id                        int64
prop_starrating                int64
prop_review_score              float64
prop_brand_bool                int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                       int64
price_usd                      float64
promotion_flag                 int64
srch_destination_id            int64
srch_length_of_stay            int64
srch_booking_window            int64
srch_adults_count              int64
srch_children_count            int64
srch_room_count                int64
srch_saturday_night_bool       int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                    int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                     int64
gross_bookings_usd             float64
booking_bool                   int64
dtypes: datetime64[ns](1), float64(34), int64(19)
memory usage: 2.0 GB

In [7]:
df['price_per_room'] = df['price_usd'] / df['srch_room_count']/df['srch_length_of_stay']
#df['price_per_room'].value_counts().to_frame().style.bar()"

In [8]:
df['total_people'] = df['srch_adults_count']+df['srch_children_count']
df['people_per_room'] = df['total_people']/ df['srch_room_count']
df['price_per_person'] = df['price_usd']/df['total_people']

In [9]:
df = df.fillna(0)
df = df.replace(to_replace=-1, value=0)

In [10]:
df['prop_location_score'] = df['prop_location_score1']+df['prop_location_score2']

In [11]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
comp_rate = pca.fit_transform(df[['comp{0}_rate'.format(i + 1) for i in range(8)]].fillna(0))
comp_inv = pca.fit_transform(df[['comp{0}_inv'.format(i + 1) for i in range(8)]].fillna(0))
comp_rate_percent_diff = pca.fit_transform(df[['comp{0}_rate_percent_diff'.format(i + 1) for i in range(8)]].fillna(0))

In [17]:
comp_rate = pd.DataFrame(data=comp_rate)
comp_inv = pd.DataFrame(data=comp_inv)
comp_rate_percent_diff = pd.DataFrame(data=comp_rate_percent_diff)

In [18]:
f = {"comp_rate":comp_rate[0],"comp_inv": comp_inv[0], "comp_rate_percent_diff":comp_rate_percent_diff[0]}
df_comp = pd.DataFrame(data = f)
df_comp

         comp_rate  comp_inv  comp_rate_percent_diff
0        -0.096528 -0.042582               -4.636071
1        -0.096528  0.841872               -4.636071
2        -0.096528 -0.042582               -4.636071
3        -0.096528  0.841872               -4.634332
4        -0.096528 -0.042582               -4.636071
5        -0.096528 -0.042582               -4.633734
6        -0.096528 -0.042582               -4.636071
7        -0.096528 -0.042582               -4.636071
8        -0.096528 -0.042582               -4.634314
9        -0.096528 -0.042582               -4.636071
10        0.400669 -0.042582               -4.635918
11        0.274886 -0.042582               -4.626788
12       -0.096528 -0.042582               -4.632697
13       -0.096528 -0.042582               -4.636071
14       -0.096528 -0.042582               -4.636071
15        0.613610 -0.042582               -4.634860
16        0.613610 -0.042582               -4.631089
17       -0.096528 -0.042582               -4.636071
18       -0.096528 -0.042582               -4.636071
19       -0.096528 -0.042582               -4.634402
20       -0.096528 -0.042582               -4.635658
21       -0.096528  0.841872               -4.626975
22        0.613610  0.841872               -4.633834
23        0.613610 -0.042582               -4.631053
24       -0.096528 -0.042582               -4.636071
25       -0.096528 -0.042582               -4.636071
26       -0.096528 -0.042582               -4.636071
27       -0.096528 -0.042582               -4.636071
28       -0.096528 -0.042582               -4.636071
29       -0.096528 -0.042582               -4.636071
...            ...       ...                     ...
4958317  -0.096528 -0.042582               -4.636071
4958318  -0.096528 -0.042582               -4.636071
4958319   0.400669 -0.042582               -4.635974
4958320  -0.096528 -0.042582               -4.636071
4958321  -0.096528 -0.042582               -4.636071
4958322  -0.096528 -0.042582               -4.636071
4958323  -0.096528 -0.042582               -4.634518
4958324  -0.096528 -0.042582               -4.636071
4958325  -0.096528 -0.042582               -4.635960
4958326  -0.096528 -0.042582               -4.636071
4958327  -0.096528 -0.042582               -4.636071
4958328  -0.096528 -0.042582               -4.634609
4958329  -0.096528 -0.042582               -4.636071
4958330  -0.096528 -0.042582               -4.635826
4958331  -0.096528 -0.042582               -4.636071
4958332   1.482220 -0.042582               -4.627867
4958333  -0.096528 -0.042582               -4.636071
4958334  -0.096528 -0.042582               -4.636071
4958335  -0.096528 -0.042582               -4.636071
4958336  -0.096528 -0.042582               -4.629309
4958337  -0.096528 -0.042582               -4.636071
4958338  -0.096528 -0.042582               -4.636071
4958339   0.613610 -0.042582               -4.634936
4958340  -0.096528 -0.042582               -4.636071
4958341  -0.096528 -0.042582               -4.636071
4958342  -0.096528 -0.042582               -4.636071
4958343  -0.096528 -0.042582               -4.636071
4958344  -0.096528 -0.042582               -4.636071
4958345  -0.096528 -0.042582               -4.636071
4958346  -0.096528 -0.042582               -4.636071

[4958347 rows x 3 columns]

In [19]:
df = pd.concat([df,df_comp], axis=1)
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,gross_bookings_usd,booking_bool,price_per_room,total_people,people_per_room,price_per_person,prop_location_score,comp_rate,comp_inv,comp_rate_percent_diff
0,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,893,3,3.5,...,0.0,0,104.77,4,4.0,26.1925,2.8738,-0.096528,-0.042582,-4.636071
1,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,10404,4,4.0,...,0.0,0,170.74,4,4.0,42.6850,2.2149,-0.096528,0.841872,-4.636071
2,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,21315,3,4.5,...,0.0,0,179.80,4,4.0,44.9500,2.2245,-0.096528,-0.042582,-4.636071
3,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,27348,2,4.0,...,0.0,0,602.77,4,4.0,150.6925,2.8425,-0.096528,0.841872,-4.634332
4,1,2013-04-04 08:32:15,12,187,0.0,0.0,219,29604,4,3.5,...,0.0,0,143.58,4,4.0,35.8950,2.7641,-0.096528,-0.042582,-4.636071

In [33]:
x_train = df[['srch_id','visitor_location_country_id','prop_country_id','prop_brand_bool', 'prop_starrating', 'prop_review_score','srch_children_count','total_people','people_per_room','price_per_person', 'srch_length_of_stay', 'srch_query_affinity_score', 'prop_location_score', 'comp_rate', 'comp_inv', 'comp_rate_percent_diff','price_per_room','promotion_flag', 'orig_destination_distance']]
y_train = df[['srch_id','prop_id']]

In [22]:
test = pd.read_csv('test_set_VU_DM.csv')
test.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,14142,2,3.5,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,22393,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,24194,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
test.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4705752
visitor_hist_adr_usd           4704559
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7266
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1088032
prop_log_historical_price            0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4641025
orig_destination_distance      1608679
random_bool                          0
comp1_rate                     4843307
comp1_inv                      4834309
comp1_rate_percent_diff        4868715
comp2_rate                     2943222
comp2_inv                      2837914
comp2_rate_percent_diff        4405574
comp3_rate                     3434198
comp3_inv                      3317952
comp3_rate_percent_diff        4487973
comp4_rate                     4646462
comp4_inv                      4610375
comp4_rate_percent_diff        4826056
comp5_rate                     2737262
comp5_inv                      2598370
comp5_rate_percent_diff        4119276
comp6_rate                     4716853
comp6_inv                      4696014
comp6_rate_percent_diff        4862045
comp7_rate                     4643454
comp7_inv                      4602430
comp7_rate_percent_diff        4819860
comp8_rate                     3056794
comp8_inv                      2986298
comp8_rate_percent_diff        4348206
dtype: int64

In [24]:
test = test.fillna(0)
test = test.replace(to_replace=-1, value=0)

In [25]:
test = test.astype({"date_time": 'datetime64[ns]'})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4959183 entries, 0 to 4959182
Data columns (total 50 columns):
srch_id                        int64
date_time                      datetime64[ns]
site_id                        int64
visitor_location_country_id    int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                int64
prop_id                        int64
prop_starrating                int64
prop_review_score              float64
prop_brand_bool                int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
price_usd                      float64
promotion_flag                 int64
srch_destination_id            int64
srch_length_of_stay            int64
srch_booking_window            int64
srch_adults_count              int64
srch_children_count            int64
srch_room_count                int64
srch_saturday_night_bool       int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                    int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
dtypes: datetime64[ns](1), float64(33), int64(16)
memory usage: 1.8 GB

In [26]:
test['price_per_room'] = test['price_usd'] / test['srch_room_count'] / test['srch_length_of_stay']
test['total_people'] = test['srch_adults_count'] + test['srch_children_count']
test['people_per_room'] = test['total_people'] / test['srch_room_count']
test['price_per_person'] = test['price_usd']/test['total_people']

In [27]:
test['prop_location_score'] = test['prop_location_score1']+ test['prop_location_score2']

In [28]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
comp_rate = pca.fit_transform(test[["comp{0}_rate".format(i+1) for i in range(8)]].fillna(0))
comp_inv = pca.fit_transform(test[["comp{0}_inv".format(i+1) for i in range(8)]].fillna(0))
comp_rate_percent_diff = pca.fit_transform(test[["comp{0}_rate_percent_diff".format(i+1) for i in range(8)]].fillna(0))

In [29]:
comp_rate = pd.DataFrame(data=comp_rate)
comp_inv = pd.DataFrame(data=comp_inv)
comp_rate_percent_diff = pd.DataFrame(data=comp_rate_percent_diff)

In [30]:
df_comp_test = {"comp_rate":comp_rate[0],"comp_inv":comp_inv[0],"comp_rate_percent_diff":comp_rate_percent_diff[0]}
df_comp_test = pd.DataFrame(data=df_comp_test)
df_comp_test.head()

   comp_rate  comp_inv  comp_rate_percent_diff
0  -0.096232 -0.042389               -3.666028
1  -0.096232 -0.042389               -3.666028
2   0.614109 -0.042389               -3.664234
3  -0.096232 -0.042389               -3.666028
4  -0.096232 -0.042389               -3.666028

In [31]:
test = pd.concat([test,df_comp_test], axis=1)
test.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp8_inv,comp8_rate_percent_diff,price_per_room,total_people,people_per_room,price_per_person,prop_location_score,comp_rate,comp_inv,comp_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,3180,3,4.5,...,0.0,0.0,119.0,2,2.0,59.5,3.0091,-0.096232,-0.042389,-3.666028
1,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,5543,3,4.5,...,0.0,0.0,118.0,2,2.0,59.0,2.7243,-0.096232,-0.042389,-3.666028
2,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,14142,2,3.5,...,0.0,0.0,49.0,2,2.0,24.5,2.7656,0.614109,-0.042389,-3.664234
3,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,22393,3,4.5,...,0.0,0.0,143.0,2,2.0,71.5,2.4561,-0.096232,-0.042389,-3.666028
4,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,24194,3,4.5,...,0.0,0.0,79.0,2,2.0,39.5,3.1490,-0.096232,-0.042389,-3.666028

In [35]:
x_test = test[['srch_id','visitor_location_country_id','prop_country_id','prop_brand_bool', 'prop_starrating', 'prop_review_score','srch_children_count','total_people','people_per_room', 'srch_length_of_stay', 'srch_query_affinity_score', 'prop_location_score', 'comp_rate', 'comp_inv', 'comp_rate_percent_diff','price_per_room','promotion_flag', 'orig_destination_distance']]
test.head()
y_train = df['srch_id']

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp8_inv,comp8_rate_percent_diff,price_per_room,total_people,people_per_room,price_per_person,prop_location_score,comp_rate,comp_inv,comp_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,3180,3,4.5,...,0.0,0.0,119.0,2,2.0,59.5,3.0091,-0.096232,-0.042389,-3.666028
1,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,5543,3,4.5,...,0.0,0.0,118.0,2,2.0,59.0,2.7243,-0.096232,-0.042389,-3.666028
2,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,14142,2,3.5,...,0.0,0.0,49.0,2,2.0,24.5,2.7656,0.614109,-0.042389,-3.664234
3,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,22393,3,4.5,...,0.0,0.0,143.0,2,2.0,71.5,2.4561,-0.096232,-0.042389,-3.666028
4,1,2013-02-02 15:27:40,24,216,0.0,0.0,219,24194,3,4.5,...,0.0,0.0,79.0,2,2.0,39.5,3.1490,-0.096232,-0.042389,-3.666028

In [40]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

In [41]:
clf = DecisionTreeClassifier()

In [42]:
clf = clf.fit(x_train,y_train)

MemoryError: could not allocate 13093765120 bytes

In [ ]:
y_pred = clf.predict(x_test)

In [39]:
y_test = pd.DataFrame(data = y_pred)

NameError: name 'y_pred' is not defined

In [ ]:
test = pd.concat([x_test,y_test], axis=1)
test.to_excel("predictions.xlsx")